
.children {
    max-width: 60vw;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@media screen and (max-width: 900px) {
    .children {
        max-width: 95vw;
        margin: 0 auto;
    }
    
}